import {getEntryBySlug} from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"; import Bio from "../../components/Bio.astro";
const posts = await Astro.glob("../../data/blog-posts/*.md"); const { slug } = Astro.params;
if (!slug) { return Astro.redirect("/404"); } const entry = await getEntryBySlug("blog",
slug); if (!entry) { return Astro.redirect("/404"); } const permalink = `${Astro.site?.href}${slug}`;
const { Content } = await entry.render();

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  permalink={permalink}
  current="blog"
>
  <header>
    <p>{frontmatter.publishDate}</p>
    <h1>{frontmatter.title}</h1>
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
