import {getCollection} from "astro:content"
export const prerender = true; import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Blog"; const description = "Latest articles."; const permalink = `${Astro.site?.href}blog`;
const title = "Blog"; const description = "Blog posts"; const permalink = Astro.site?.href;
function sortPostIdHightoLow(a: number, b: number): number { return b - a; } const
blogEntries = await getCollection("blog", ({ data }) => { return data.isDraft !==
true; });

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <div class="container">
    <h1>posts</h1>
    {
      blogEntries.map((post, index) => {
        const href = `/blog/${post.file.split("/").pop()?.split(".").shift()}`;
        console.log("blog href", href);
        console.log("allPosts", allPosts.length);

        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.frontmatter.title}</a>
              </h2>
              <p>{post.frontmatter.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  — {post.frontmatter.publishDate}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 30px auto;
  }
</style>
